<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.llh_pc.it_support" >

    <!-- allow -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP"></uses-permission>


    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- [END gcm_permission] -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/delete_title_bar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.frmDK_DN"
            android:label="@string/title_activity_frm_dk__dn"
            android:theme="@style/delete_title_bar" >
        </activity>
        <activity
            android:name=".activities.frmDangNhap"
            android:label="@string/title_activity_frm_dang_nhap" >
        </activity>
        <activity
            android:name=".activities.Main2Activity"
            android:label="@string/title_activity_main2" >
        </activity>
        <activity
            android:name=".activities.frmQuenMK"
            android:label="@string/title_activity_frm_quen_mk" >
        </activity>
        <activity
            android:name=".activities.frmTaoMoiMK"
            android:label="@string/title_activity_frm_quen_mk" >
        </activity>
        <activity
            android:name=".activities.frmTaoMoiMatKhau"
            android:label="@string/title_activity_frm_quen_mk" >
        </activity>
        <activity
            android:name=".activities.frmBaoHu"
            android:label="@string/title_activity_frm_bao_hu" >
        </activity>
        <activity
            android:name=".activities.frmChildPost"
            android:label="@string/title_activity_frm_child_post" >
        </activity>
        <activity
            android:name=".activities.Main22Activity"
            android:label="@string/title_activity_main22" >
        </activity>
        <activity
            android:name=".activities.frmDangKy"
            android:label="@string/title_activity_frm_dang_ky" >
        </activity>
        <activity
            android:name=".activities.frmThongBao"
            android:label="@string/title_activity_frm_thong_bao" >
        </activity>
        <activity
            android:name=".activities.frmTimKiem"
            android:label="@string/title_activity_frm_tim_kiem" >
        </activity>
        <activity
            android:name=".activities.frmLuuTru"
            android:label="@string/title_activity_frm_luu_tru" >
        </activity>

        <!-- hide keyboard adjustPan -->
        <activity
            android:name=".activities.frmTabHost"
            android:label="@string/title_activity_frm_tab_host"
            android:theme="@style/delete_title_bar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activities.Profile"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".activities.frmGhiChu"
            android:label="@string/title_activity_frm_ghi_chu" >
        </activity>
        <activity
            android:name=".activities.frmGhiChuPost"
            android:label="@string/title_activity_frm_ghi_chu_post" >
        </activity>
        <activity
            android:name=".activities.frmChiTietPost"
            android:label="@string/title_activity_frm_chi_tiet_post" >
        </activity>
        <activity
            android:name=".activities.Menu_Left"
            android:label="@string/title_activity_menu__left" >
        </activity>
        <activity
            android:name=".activities.frmProviderBaoHong"
            android:label="@string/title_activity_frm_provider_bao_hong" >
        </activity>
        <activity
        android:name=".activities.Profile1"
        android:label="@string/title_profile1" >
    </activity>
        <activity
            android:name=".fragments.TabHostHoatDong"
            android:label="@string/title_profile1" >
        </activity>
        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener] -->
        <service
            android:name="com.example.llh_pc.it_support.gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name="com.example.llh_pc.it_support.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name="com.example.llh_pc.it_support.gcm.RegistrationIntentService"
            android:exported="false">
        </service>
    </application>

</manifest>
